@import "styles/reset_default.scss";
@import "styles/var.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: $dark-chunk-color;
}

.white {
  background-color: $white-chunk-color;
}

.active {
  background-color: $active-color;
}

.elipse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $elipse-color;
}

.attacked {
  background-color: $attacked-color;
}

.check {
  background-color: $check-color;
}

@import "styles/App.scss";
@import "styles/Board.scss";
@import "styles/Chunk.scss";
@import "styles/Timer.scss";
@import "styles/Lostfigures.scss";